<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#424242">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Pragma" contect="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>标准件选型系统</title>
</head>

<body>
  <div id="app"></div>
  <!-- dev环境使用下一行引用代码 -->
  <script src="/dist/build.js"></script>
  <!-- pro环境使用下一行引用代码，并将打包的后的js名字替换即可 -->
  <!-- <script src="http://iacloud.ceway.com.cn/app-material/dist/build.js"></script> -->
</body>

</html>